body {
    margin: 0;
    padding: 0;
    background-color: #F2E2C4;
}
nav {
    background-color: #6D9EEB;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px black;
    
    position: fixed; /* Permet de fixer la nav bar */
    bottom: 93.5%;
    top: 0; right: 0; left: 0; /* Pour fixer la nav */
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 150px;
    width: 50%;
    color: black;

}

span {
    margin-left: 30px;
    color: red;
}
nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black
}
 li {
    margin: 50px;
}

li a:hover 
 {
        color: red;
        background-color: #6D9EEB;
 }

 .index{
    text-align: center;
    border-style: dashed;
    border-width: 2px; /* Vous pouvez ajuster la largeur selon vos besoins */
    border-color: black; 
    margin-right : 80px;
    margin-left : 80px;
 }
 audio {
    position: absolute;
    top: 70%; 
    right: 50%; 
  }

  video {
    position: relative;
    top: 70%;
    left: 30%;
    
  }

  .audio{
    text-align: center;
    border-style: dashed;
    border-width: 1px; /* Vous pouvez ajuster la largeur selon vos besoins */
    border-color: black; 
    margin-right : 20px;
    margin-left : 20px;
 }

 .video{
    border: 1px dotted black;
    margin-right : 20px;
    margin-left : 20px;
 }

 .img{
    border: 3px solid;
    margin-right : 30px;
    margin-left : 30px;
 }

 img {
    width: 300px;
    height: 300px;
    
 }