body {
    background-color: yellow;
}

ul {
    list-style: none;
    margin-top: 40px;
    
    
}
ul li a {
    text-decoration: none ;
 
}



h1 {
    color: purple;
}

p {
    color: purple;
}

.principal {
    display: flex;

}

.nav {
    display: flex ;
    flex-direction: column;
}
.premiere {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid purple;
    margin-left: 20px;
}


