.cercle {
   
    width: 500px;
    height: 500px;
    background-color: #A7BED0;
    border-radius: 50%; 
}

body {

    background-color: #468326;
}
.cube {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.nez {
  width: 130px;
  height: 200px;
  border-radius: 45%;
  margin-left: 35%; 
  margin-top: 45%;
    background-color: #BE845F;
    
}

.yeux-droit {
position: absolute;
margin-left: 6%;
background-color: white;
width: 130px;
height: 130px;
border-radius: 50%;
margin-top: 8%;

}

.yeux-gauche {
    position: absolute;
    margin-left: 12%;
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 8%;
    
    }
    .yeux-noir {
        position: absolute;
        margin-left: 35%;
        background-color: black;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 36%;
        
        } 


.triangle1 {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 3%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #A7BED0;
    margin-top: -1%;
}


.triangle2 {
    position: absolute;
    width: 0;
    height: 0;
    margin-right: 5%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #A7BED0;
    margin-top: -2%;
}

.oreille1 {
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 20%;
    background-color: #A7BED0;
    border-radius: 50%; 

}
.oreille2 {
    position: absolute;
    width: 250px;
    height: 250px;
    margin-right: 20%;
    background-color: #A7BED0;
    border-radius: 50%; 

}

.sous-oreille1 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #819CAF;
    border-radius: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    top: 250px;
    margin-left: 400px;
    transform: rotate(55deg);
}

.sous-oreille2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #819CAF;
    border-radius: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    top: 250px;
    margin-right: 400px;
    transform: rotate(300deg);
}